.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}


td{
    font-size:14px
}

/* table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
} */

#poftable{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.tablebutton{
    border-radius:30px;
    font-size:12px;
    padding-left:50px;
    padding-right:50px;
    width:60%
}

.image-upload>input {
    display: none;
  }


.tablesubtext{
    font-size:14px;
    color:#7F8FA4;

}

.modaltitle{
    font-size:13px
}
.modalquestion{
    font-size:13px;
    padding-top:30px
}

.verifybutton{
    background-color:#FFF;
    color:#474D66;
    padding: 4px 16px 4px 16px;
    border-radius:3px;
    border:1px solid#C1C4D6;
    font-size:13px
}

.markasdeliveredbutton{
    background-color:#DCF2EA;
    color:#FFF;
    padding: 4px 16px 4px 16px;
    border-radius:3px;
    border:1px solid#DCF2EA;
}

.tableimage{
    width:60px;
    height:60px
}

.successbutton{
    background-color:#52BD95;
    border:#52BD95;
    color:#FFF;
    padding: 4px 16px 5px 16px;
    border-radius:3px;
    margin-left:20px;
    margin-right:20px;
    font-size:13px
    

}

.modal-header{
    border-bottom:0px
}

.modalbuttons{
    text-align:right;
    margin-top:0px;
    margin-bottom:40px;
  
}


.blockbutton{
    background-color:#D14343;
    border:1px solid#D14343;
    color:#FFF;
    padding: 4px 16px 4px 16px;
    border-radius:3px
}

.blockbuttonmodal{
    background-color:#D14343;
    border:1px solid#D14343;
    color:#FFF;
    padding: 4px 16px 4px 16px;
    border-radius:3px;
    margin-left:20px;
    margin-right:20px;
    font-size:13px
}


.tabletext{
    font-size:14px;
    color:#414042;
    /* padding-left:30px; */
    font-weight:300!important
}

th{
    color: #000!important;
    font-size: 0.875em;
    font-weight:600!important;
      background: #FFF!important;

}

.table .thead-dark th {
    border: none;
}

.pagination{
    margin-top:20px;
    margin-bottom:40px;
    float:right
}

.pagination>li>a, .pagination>li>span {
    /* position: relative;
    float: right; */
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}


.filtericon{
    float:right;
    color:#3366FF
}

.nav-link{
    padding:0px
}

.mainbody{
    height:180vh;
    background-color:#F7F8FA
}

.modaltitle{
    font-weight:bold
}

.activatemodalbody{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:50px
}

.modaloption1{
    margin-top:30px
}

.modaloption2{
    margin-top:30px
}

.modaloption3{
    margin-top:30px
}

.modaloption4{
    margin-top:20px
}

.modalsubmit{
    margin-top:40px
}

.adminname{
    background-color:#0F5156;
    border-radius:50%;
    font-size:17px;
    color:#FFF;
    padding:5px 8px 5px 8px
}

.navbar-nav{
    padding-top:20px
}

.spinner-border{
   
    display:none;
    position:absolute;
    margin-left:130px;
    margin-top:3px
}















/* LOGIN */
.loginlogo{
    text-align:center;
    margin-top:150px;
    margin-bottom:70px;
  

}

.loginbox{
    box-shadow: 0 0 1px rgb(67 90 111 / 30%), 0 5px 8px -4px rgb(67 90 111 / 47%);
    padding: 30px 80px 50px 80px;
   
}

.logintitle{
    color:#101840;
    font-size:1.2em;
    text-align:center;
    font-weight:700;
    padding-bottom:40px
  
}

.submitbutton{
    margin-top:40px;
    font-size:14px;
    background-color:#DD3737;
    border:#DD3737;
    border-radius:40px
}

.submitbutton:hover{
    margin-top:40px;
    font-size:14px;
    background-color:#DD3737;
    border:#DD3737;
    border-radius:40px
}
/* LOGIN */

/* CUSTOMERS */
.customerlabel{
    font-size:14px
}

.filteroptions{
margin-top:50px;
background-color:#FFF;
padding:40px 20px 80px 20px
}

.filterbuttons{
    float:right;
    margin-top:20px
}

.clearall{
    border: 1px solid #C1C4D6;
    color:#474D66;
    background-color: #FFF;
    padding: 9px 12px 9px 12px;
    border-radius:5px;
    font-size:16px
}

.apply{
    border: 1px solid #DD3737;
    color:#FFF;
    background-color: #DD3737;
    padding: 9px 12px 9px 12px;
    border-radius:5px;
    margin-left:10px;
    font-size:14px
}

.newloanbutton{
    border: 1px solid #DD3737;
    color:#FFF;
    background-color: #DD3737;
    padding: 9px 12px 9px 12px;
    border-radius:5px;
    margin-top:20px;
    font-size:14px
}



.thecount{
    /* padding-bottom:50px */
}
/* CUSTOMERS */








.generateinvoicep{
    text-align:center;
    margin-top:40px;
    padding-bottom:80px;
 }



.rightnavmenu{
    margin-left:0px;
    
}

.table{
    margin-top:60px
}




.thenavbar{
    padding-left:80px;
    padding-right:80px;
    /* background-color:#FFF!important; */
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

.paymentbox{
    padding-right:80px;
    padding-left:80px;
    margin-top:50px
}

.statsbox{
    padding-right:80px;
    padding-left:80px;
    margin-top:40px
}

.graphbox{
    padding-right:80px;
    padding-left:80px;
    margin-top:40px;
    margin-bottom:40px
}

.thegraphbox{
    background-color:#FFF;
    padding-top:30px;
    padding-bottom:30px
}

.thestatsbox{
    background-color:#FFF;
    padding-top:15px;
    padding-bottom:30px;
    height:100px;
    box-shadow: 0 0 1px rgb(67 90 111 / 30%), 0 5px 8px -4px rgb(67 90 111 / 47%);



    /* margin-right:20px; */
    /* max-width: 24%!important; */
}

.greetingsmain{
    font-size: 20px;
    color:#101840;
    padding-top:40px;
    font-weight:500
}

.greetings{
    font-size: 16px;
    color:#101840;
    padding-top:40px;
    font-weight:600
}

.totalrevenuebox{
    margin-top:50px
}

.stattitle{
    font-size:16px;
    color:#101840
}

.statfigure{
    font-size:1.2em;
    color:#474D66;
    margin-top:0px
}

.statstitlepayments{
    padding-top:20px;
    border-top: 4px solid #F7F8FA;
}

.lastorder{
    padding-bottom:20px
}

.orderbox{
    border-left: 4px solid #F7F8FA;
    
}

.rightarrow{
    margin-left:10px
}

.downarrow{
    margin-left:30px
}

.navbar-brand {
    color:#1875F0!important;
    font-size:24px!important;
    font-family:Roboto;
    font-weight:900;
    line-height: 28.13px;
    font-family: 'Roboto', sans-serif!important;
}

::placeholder{
    color:#979797!important;
    font-size:12px
}

.generateinvoice{
    background-color:#27AE60;
    border-radius:30px;
    color:#FFF;
   font-size:12px;
   font-weight:700;
   line-height:14.06px;
   font-family:Roboto;
   border-color:#27AE60;
   padding: 10px 20px 10px 20px;
   margin-top:40px

}

.generateinvoicep{

    padding-left:50px;
}

.input-group-text{
    background-color:#FFF;
    border:0px 
}

/* .form-control{
    border-color:#FFF
} */

.nav-item{
    font-size:14px
}

.hello{
    font-size:14px;
    float:left;
    color:#474D66;
    line-height:20px
}

.avatar{
    border-radius:50%
}

.support{
    margin-top:10px;
    
} 

.faq{
    margin-top:10px
}

.notify{
    margin-top:10px
}

.searchbaricon{
    margin-top:20px;
    margin-left:100px
}

.topsearchico{
    border:#FFF!important
}


/* SIDEBAR */


.thenavbarmenu{
    color:#777777;
    font-size:15px;
    padding-left:40px;
    cursor: pointer;
}

.thenavbaractive{
    color:#000000;
    font-size:14px;
    padding-left:60px;
    cursor: pointer;

}

.thenavbarmenuspan{
    padding-left:20px
}

.thenavbariconactive{
    color:#000000;
}

.thenavbarmenutitle{
    color:#647787;
    font-size:11px;
    padding-left:50px;
    margin-top:40px
}

.thenavbarmenutitle2{
    color:#647787;
    font-size:11px;
    padding-left:50px;
    margin-top:50px
}

.thenavbarmenutitle3{
    color:#647787;
    font-size:11px;
    padding-left:50px;
    margin-top:60px
}


.mainbody2{
    background-color:red
}

.payments{
    font-size:20px;
    color:#262626;
    margin-top:20px;
    margin-bottom:25px
}


/* Payments */

.sidebyside {
font-size:13px;
padding-bottom:10px
/* font-family:Segoe UI */


  } 

  .navigation{
border: 1px solid #CED0DA;
padding:10px;
  }

  .navigation1{
      background-color:#1875F0;
      color:#FFF
  }

  .navigation2{
  
    color:#979797
}

  .firstselect{
      border-color: #FFF;
      font-size:14px;
   

  }

  .paymentsearchicon{
      border-top:none;
      border-left:none;
      border-right:none;
      margin-top:-10px;
      background-color:#F7F8FA!important
  }

  .paymentsearchico{
    background-color:#F7F8FA!important
  }

  .showall{
    background-color:#F7F8FA!important
  }




.reconciled{
    color: #27AE60;
}

.pending{
    color: #EBC315;

}


.footer{
    padding-top:40px;
    padding-bottom:80px;
    cursor:pointer
}

.showall{
    height:30px!important;
    padding:.175rem .75rem
}

.showall2{
    height:30px!important;
    padding:.175rem .75rem;
    font-size:12px
}

.statstitle{
    font-size:14px;
    color:#262626;
    font-weight:bold
}

.statstitle2{
    font-size:18px;
    color:#262626;
    font-weight:bold
}


.statstext{
    font-size:12px;
    color:#262626;
    margin-bottom:5px
}

.statno1{
    color:#EBC315
}

.statno2{
    color:#27AE60
}

.statno3{
    color:#1875F0
}

tr{
    background-color:#FFF
}

.progress{
    background-color:#FDC203;
    height:5px;
    margin-bottom:15px
}

.progress-bar{
    background-color:#27AE60
}

.Charttwo{
    width:100px !important;
    height:40px !important;

}

/* MEDIA QUERIES */

@media  screen and (max-width: 1440px) {
    .spinner-border{
   
        display:none;
        position:absolute;
        margin-left:90px;
        margin-top:3px
    }
    
}

@media  screen and (max-width: 1366px) {
    .spinner-border{
   
        display:none;
        position:absolute;
        margin-left:90px;
        margin-top:3px
    }
    
    
}


@media  screen and (max-width: 1024px) {
    .searchbaricon{
        margin-left:20px
    }

    .thenavbarmenu{
        padding-left:30px;
        font-size:10px;
    }

    .stattitle{
        font-size:6px;
        color:#787c90
    }

    .statstitle{
        font-size:12px;
    
    }
    
    
    .thenavbarmenutitle{
        padding-left:30px;

    }
    
    .thenavbarmenutitle2{

     padding-left:30px;

    }
    
    .thenavbarmenutitle3{
        padding-left:30px;

    }

    .generateinvoicep{
 
       text-align:center
    }

    .generateinvoice{
        background-color:#27AE60;
        border-radius:30px;
        color:#FFF;
       font-size:8px;
       font-weight:700;
       line-height:14.06px;
       font-family:Roboto;
       border-color:#27AE60;
       padding: 10px 20px 10px 20px;
       margin-top:40px
    
    }
    
}



@media  screen and (max-width: 833px) {
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.searchbaricon{
    margin-left:0px
}

.hello{
    font-size:10px;
    float:left
}

.rightnavmenu{
    margin-left:0px;
}

.avatar{
    display:none
}

.thesidebarrow{
display:none
}



.mobilearrows{
    margin-top:10px;
    margin-bottom:20px;
}

.searchpayments{
    margin-top:10px
}

.table{
    margin-top:30px
}

.footermobile{
    font-size:10px
}

.thenavbar{
    padding-left:40px;
    padding-right:40px;
    background-color:#FFF!important;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

.paymentbox{
    padding-right:40px;
    padding-left:40px
}

.statsbox{
    padding-right:40px;
    padding-left:40px;
    margin-top:40px
}

.graphbox{
    padding-right:80px;
    padding-left:40px;
    margin-top:40px;
    margin-bottom:40px
}


}